[submodule ".registry"]
	path = .registry
	url = https://github.com/leonelstazione/leonelstazione.r-universe.dev
	branch = HEAD
[submodule "phenop"]
	path = phenop
	url = https://github.com/leonelstazione/phenop
